<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'students/base.html' %}
    {% block title %}Delete Student{% endblock %}
    {% block content %}
    <h2>Delete Student</h2>
    <p>Are you sure you want to delete student: <strong>{{student.name}}({{student.roll_no}})</strong></p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, delete</button>
        <a href="{% url 'students:list' %}">Cancel</a>
    </form>
    {% endblock %}
</body>
</html>