body{
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

header{
    background: #4f46e5;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,td{
    padding: 10px;
    border: 1px solid #ddd;
}

th{
    background: #6366f1;
    color: white;
}
a{
    text-decoration: none;
    color: #4f46e5;
}